<a href="https://colab.research.google.com/github/Soitch/NewAIrepository/blob/main/SetHOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyTelegramBotAPI

In [ ]:
def tray(x, a=list()):
  if x:
    print (str(len(a)+1)*x)
    a.append(x)
    #print("список - ", *a)
    tray(x-1)
  else:
    return a.clear()

In [ ]:
tray(5)

11111
2222
333
44
5

In [ ]:
def trast(x):
    def deltatrast(a, s):
      if a:
        print(*s)
        deltatrast(a-1, s)
      else:
        return 
    deltatrast(x,[i for i in range(1, x+1)])

In [ ]:
trast(5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
def sum_recursive(nums):
    if len(nums) == 0:
        return 0
    last_num = nums.pop()
    return last_num + sum_recursive(nums)

In [ ]:
print(sum_recursive([10, 5, 2]))

17

In [ ]:
import sys
 
j = sys.stdin.readline().strip()
s = sys.stdin.readline().strip()
 
result = 0
for ch in s:
    if ch in j:
        result += 1
 
print(result)

0

In [ ]:
import sys
 
j = input().strip()
s = input().strip()
 
result = 0
for ch in s:
    if ch in j:
        result += 1
 
print(result)

1 2
3 4 4
2

In [ ]:
j = int(input())
dr = list()
prim = list()
for i in range(j):
  dr.append(int(input()))
s = 500
prim.append(s)
for j in range(1, len(dr)):
  if dr[j] > dr[j-1]:
    s += 500
  else:
    if dr[j] < dr[j-1] and s > 500:
      s -= 500
  prim.append(s)
print(sum(prim))

In [ ]:
import telebot

bot = telebot.TeleBot("1853965399:AAGUujqTdDa8LDLndzFC4Cj5Rqyc5hQEAdo")

bot.remove_webhook()
bot.set_webhook("https://functions.yandexcloud.net/d4eqj70pd9u2kspm7h2b")

True

In [ ]:
def readAndTotal():
    line = input("Введите число (пропустите ввод для завершения): ")
    # Базовый случай: пользователь пропустил ввод, возвращаем 0
    print(line)
    if line == "":
      return 0
    else:
      print(line)
      return float(line) + readAndTotal()

print(readAndTotal())

In [ ]:
def privet(x):  # прямой ход рекурсии. Печатаем нужное количество раз
  if x:
    print('hello world')
    privet(x-1)
  else:
    return

privet(8)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
def tringle(x):
    y = x
    if (x):
        tringle(x- 1)
        print(str(x) *x)
    else:
        return

In [ ]:
tringle(5)

In [ ]:
def wordrec(x):  # прямой ход рекурсии переворачиваем слово
  y=list(x)
  if len(y):
    print(y.pop(-1))
    wordrec(y)
  else:
    return

wordrec("hello")

In [ ]:
def sumf(x): # факториал
  if x:
    return x *  sumf(x-1)
  else:
    return 1

sumf(13)

6227020800

In [ ]:
def xanoy_tower(count, frome, to):
  if count == 1:
    print(f'переложить диск 1 с {frome} на {to}')
  else:
    tmp = 6 - frome - to
    xanoy_tower((count-1), frome, tmp)
    print(f'переложить диск {count} с {frome} на {to}')
    xanoy_tower((count-1), tmp, to)


xanoy_tower(6, 1, 2)

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
import pandas as pd
import pandas_datareader.data as web
import plotly.graph_objects as go
from datetime import datetime

pfe = yf.Ticker('SBER.ME')
#pfe.info

In [ ]:
pfe.actions

In [ ]:
hist = pfe.history(period='1y', interval='1h')

In [ ]:
type(hist)
hist.info()

In [ ]:
hist.to_csv('h.csv')

In [ ]:
hist.head()

In [ ]:

new_data = pd.read_csv('h.csv' )
new_data.rename(columns = {'Unnamed: 0' : 'Datetime'}, inplace = True)

In [ ]:
new_data

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-03-29 17:30:00,292.339996,293.239990,292.010010,292.429993,39001790,0.0,0
1,2021-03-29 18:30:00,292.429993,293.000000,292.410004,293.000000,1604190,0.0,0
2,2021-03-30 09:30:00,294.859985,295.720001,292.799988,295.299988,17259820,0.0,0
3,2021-03-30 10:30:00,295.260010,295.600006,292.559998,293.329987,15307000,0.0,0
4,2021-03-30 11:30:00,293.239990,293.920013,292.649994,293.059998,6650520,0.0,0
...,...,...,...,...,...,...,...,...
2318,2022-03-29 10:30:00,130.300003,134.500000,129.039993,132.649994,22406780,0.0,0
2319,2022-03-29 11:30:00,132.610001,137.500000,132.529999,133.039993,17603310,0.0,0
2320,2022-03-29 12:30:00,133.029999,133.089996,125.820000,127.260002,16457440,0.0,0
2321,2022-03-29 13:30:00,127.139999,130.100006,127.129997,128.770004,1790330,0.0,0
2322,2022-03-29 13:49:59,128.770004,128.770004,128.770004,128.770004,0,0.0,0

In [ ]:
new_data['Datetime'] = pd.to_datetime(new_data['Datetime']).dt.tz_localize(None)

In [ ]:
import matplotlib.pyplot as plt
tickers = ['SBER.ME']
for i,ticker in enumerate(tickers):
  current_ticker = yf.Ticker(ticker)
  plt.subplot(len(tickers),1,i+1)
  current_ticker.history(period='1w', interval='1H')['Close'].plot(figsize=   (16,7), title='1 week price history for ticker: '+ticker)

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=new_data['Datetime'],
                open=new_data['Open'],
                high=new_data['High'],
                low=new_data['Low'],
                close=new_data['Close'])])
fig.show()

In [ ]:
new_data.head(30)